.texto {
    width: 100%;
    height: 110px;
    margin-top: 67px;
  
    font-size: 24px;
    font-weight: 700;
    color: #247A6B;
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container{
    margin-left: 20px;
    margin-top: 40px;

  }

 .container h1{
    font-size: 24px;
    font-weight: 700;

    margin-bottom: 10px;
  }

  li div p{
    font-size: 22px;
  }

  .buttonSuccess {
    width: 225px;
    height: 42px;
    margin-top: 100px;
    background: #e8833a;
    border-radius: 3px;

    margin-left: Calc(50% - 112.5px);
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 18px;
    color: #ffffff;
  }
  