.main {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.texto {
  width: 100%;
  height: 90px;
  background-color: #ffffff;

  font-size: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;
}

.seats {
  width: 400px;
  max-height: 200px;
  padding: 0px 24px;
  margin-top: 200px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.seat {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-bottom: 7px;

  background: #c3cfd9;
  border: 1px solid #808f9d;
  border-radius: 12px;

  font-size: 11px;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

}

.subtitle {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  
}

.subtitle div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  margin-bottom: 50px;
}

.subtitle div li{
  width: 24px;
  height: 24px;
  margin-bottom: 7px;

  border: 1px solid #808f9d;
  border-radius: 12px;

  font-size: 11px;
  color: black;
}

.subtitle p{
  font-size: 13px;
}

.selected {
  background: #8dd7cf;
  
}

.available {
  background: #c3cfd9;
  
}

.unAvailable {
  background: #fbe192;
  cursor:default;
}

.inputs input {
  width: 400px;
  height: 51px;

  font-size: 18px;
}
/*  Atentar para diferença de ambos */
.inputs {
  margin-bottom: 30px;
}

.inputs p{
  margin-bottom: 5px;
  margin-left: 0px;
  font-size: 18px;
}

.buttonSeats {
  width: 225px;
  height: 42px;
  margin-top: 50px;
  background: #e8833a;
  border-radius: 3px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  color: #ffffff;
}
